.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 1rem;
}

.navHeader h1 {
  font-weight: 900;
}

.nav ul{
  display: flex;
  gap: 1.5rem;
}

.nav ul li h5 {
  text-transform: uppercase;
}

.profile {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

